@{
    Layout = null;
    var book = "";
    var chapter = "";
    var verse = "";
    var id = "";
    var note = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            id = Request.QueryString["ID"];
            var db = Database.Open("Scriptures");
            var dbCommand = "SELECT * FROM Scriptures WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, id);
            if (row != null)
            {
                book = row.Book;
                chapter = row.Chapter;
                verse = row.Verse.ToString();
                note = row.Note;
            }
            else
            {
                Validation.AddFormError("No Scripture was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No Scripture was found for that ID.");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        id = Request.Form["id"];
        var db = Database.Open("Scriptures");
        var deleteCommand = "DELETE FROM Scriptures WHERE ID = @0";
        db.Execute(deleteCommand, id);
        Response.Redirect("~/Scriptures");
    }
}
<html>
<head>
    <title>Delete a Scripture</title>
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
    <link href="~/Styles.css" rel="stylesheet">
</head>
<body>
    <div id="content">
        <!-- Using a nested DIV to set margin instead of setting padding
        to #content onsubmit="validateForm()"-->
        <div style="margin: 10%;">
            <h1>Delete a Scripture</h1>
            @Html.ValidationSummary()
            <form method="post">

                <p>
                    <span>Book:</span>
                    <span>@book</span>
                </p>

                <p>
                    <span>Chapter:</span>
                    <span>@chapter</span>
                </p>

                <p>
                    <span>Verse:</span>
                    <span>@verse</span>
                </p>

                <p>
                    <span>Note:</span>
                    <span>@note</span>
                </p>

                <input type="hidden" name="id" value="@id" />
                <p style="text-align: center;">
                    <input class="button" type="submit" name="buttonDelete" value="Delete Scripture" />
                </p>

                <p><a href="~/Scriptures">Return to scriptures listing</a></p>
            </form>
        </div>
    </div>
</body>
</html>